.about-block{
    margin-top: 120px;
    text-align: left;
    font-size: 18px;
}
.category-block{
    margin-top: 120px;
}
.category-block h1{
    text-align: left;
}
.pickup-block{
    margin-top: 120px;
    text-align: left;
}
.pickup-block h1{
    text-align: left;
}
.supply-block{
    margin-top: 120px;
    text-align: left;
}