.search-input{
    width: 70%;
    height: 40px;
    margin-top: 20px;
}
.myselect{
    width: 140px;
    height: 55px;
    margin-left: 80px;
}
.search-icon{
    margin-right: 90px;
    margin-top: 10px;
}